<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="freetype" version="2.8.0.1" targetFramework="native" />
  <package id="freetype.redist" version="2.8.0.1" targetFramework="native" />
  <package id="glew.v140" version="1.12.0" targetFramework="native" />
  <package id="glm" version="0.9.9.800" targetFramework="native" />
  <package id="nupengl.core" version="0.1.0.1" targetFramework="native" />
  <package id="nupengl.core.redist" version="0.1.0.1" targetFramework="native" />
  <package id="OpenRA-Freetype6" version="1.0.11" targetFramework="native" />
</packages>